

.edit {
  background: white;
  border-bottom: 1px;
  padding: 4px;
  cursor: pointer;
  color: black;
}

.enable {
  background: white;
  padding: 5px 4px;
  cursor: pointer;
  color: black;

}

.enable:hover,
.edit:hover {
  background: var(--bgGradient);
  color: white;
}


.c-options {
  position: absolute;
  top: -25px;
  right: -30px;
  cursor: pointer;
}