.chat-box {
  width: 1023px;
  height: 750px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  background: #1e0338;
  margin-top: 24px;
  display: flex;
  overflow: hidden;
}

.chats {
  transition: ease-in 5ms;
  cursor: pointer;
}

.chat-div {
  width: 28%;
  height: 118vh;
  border-right: 2px solid #f0f0f0;
}

.c-name {
  color: white;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
}

.online-offline {
  color: white;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
}

.chat-details {
  display: flex;
  padding-left: 35px;
  padding-bottom: 16px;
  padding-top: 22px;
  border-bottom: 2px solid #f0f0f0;
}

.picture {
  position: relative;
  margin-right: 12px;
}

.details {
  margin-top: 4px;
}

.online {
  position: absolute;
  top: 28px;
  left: 30px;
}

.chat-details2 {
  display: flex;
  padding-left: 35px;
  padding-bottom: 5px;
  padding-top: 22px;
}


.messages {
  width: 73%;
  padding: 30px 38px;
}

.massage-time {
  color: white;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
}

.msg {
  width: max-content;
  height: 48px;
  border-radius: 10px;
  background: #f6f6f6;
  color: #858585;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  padding: 15px 18px;
  margin-top: 11px;
}

.massage-time-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.msg-reverse {
  margin-left: 339px;
  width: max-content;
  height: 48px;
  border-radius: 10px;
  background: #f6f6f6;
}

.msg-width {
  width: max-content;
  height: 48px;
}

.massage-time:not(:first-child) {
  margin-top: 15px;
}

.unread-msg {
  display: flex;
  margin-top: 70px;
}

.unread-text {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.375px;
  text-transform: uppercase;
  background: linear-gradient(185deg, #fd749b 0%, #281ac8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.unread-line {
  width: 624px;
  height: 2px;
  background: linear-gradient(185deg, #fd749b 0%, #281ac8 100%);
  margin-top: 9px;
  width: 90%;
  height: 2.4px;
  border-radius: 10px;
  margin-left: 12px;
}

.inputDiv {
  width: 686px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #f0f0f0;
  background: transparent;
  margin-top: 35px;
  position: relative;
}

#Input {
  width: 73%;
  color: #f0f0f0;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.438px;
  padding-top: 4px;
  margin-left: 30px;
}

.send {
  width: 73px;
  height: 30px;
  border-radius: 100px;
  background: linear-gradient(185deg, #fd749b 0%, #281ac8 130%);
  border: 0;
  outline: 0;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.375px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 70px;
  cursor: pointer;
}

.attach {
  position: absolute;
  top: 15px;
  right: 110px;
  cursor: pointer;
}

.selected{
  background: linear-gradient(185deg, #fd749b 0%, #281ac8 130%);
}