.userlist {
  width: 1023px;
  height: 644px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  background: var(--bgDark);
}

.user-titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 33px;
}

.u-title {
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
}

.view-more {
  width: 140px;
  height: 45px;
  background: linear-gradient(185deg, #fd749b 0%, #281ac8 130%);
  border: 0;
  outline: 0;
  border-radius: 100px;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  margin-top: 29px;
  cursor: pointer;
  margin-bottom: 29px;
}

.user-btndiv {
  text-align: center;
}
