.rates {
  width: 1023px;
  height: 325px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  background: var(--bgDark);
}

.r-title {
  margin-bottom: 10px;
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  margin-top: 45px;
  margin-left: 52px;
  letter-spacing: 0.4px;
}

.cards-wrapper {
  display: flex;
  margin-left: 53px;
  margin-top: 11px;
  width: 280px;
}

.l-text {
  width: 155px;
  height: 25px;
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

.r-text {
  width: 63px;
  height: 25px;
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

.r-left {
  flex: 1;
}

.r-right {
  flex: 2;
}

.wrapper {
  display: flex;
}

.title-wrapper {
  display: flex;
  align-items: center;
}
