@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #f7f7f7;
  background: var(--bgDark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}

.menu {
  padding-left: 27px;
  padding-top: 8px;
  cursor: pointer;
}

.menuline {
  background: white;
  width: 24px;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 4px;
}

.left {
  display: flex;
  margin-left: 25px;
  margin-top: 4px;
  flex: 1 1;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1.4;
  margin-right: 12px;
}

.search {
  position: relative;
  height: 44px;
  width: 440px;
  border-radius: 100px;
  border: 1px solid white;
}

.sr-text {
  color: #858585;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 9px 77px;
}

input {
  width: 80%;
  border: 0;
  outline: 0;
  background: transparent;
  margin-left: 70px;
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  padding-left: 10px;
  margin-top: 12px;
}

.s-icon {
  position: absolute;
  margin-left: 21px;
  margin-top: 15px;
  cursor: pointer;
}

.n-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.img-name {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 40px;
  margin-left: 12px;
}

.p-img {
  display: flex;
  align-items: center;
}

.bell-notification {
  z-index: 2;
  position: relative;
  right: 22px;
  top: 1px;
}

.oval {
  z-index: 2;
  position: absolute;
  left: 7px;
  top: -1px;
}

.b-num {
  color: var(--white);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 6px;
  font-weight: 700;
  margin: -24px 11px;
  position: absolute;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  .menu{
    display: none;
  }
  .left{
    margin-left: 40px;
  }
}