.o-heading {
  max-width: 100%;
  height: 33px;
  display: flex;
  justify-content: space-between;
}

.o-text {
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
}

.calender {
  margin-top: 15px;
}

.calender:hover{
  cursor: pointer;
}

.o-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.o-text2 {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
}

.o-text3 {
  display: inline-block;
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  margin-left: 8px;
}

.o-title {
  color: var(--white);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  margin-top: 26px;
}

.o-trade {
  width: 318px;
  height: 170px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  background: var(--bgDark);
  margin-top: 60px;
  margin-left: 35px;
  padding: 10px 0px;
}

.circle {
  position: relative;
  top: 13px;
  left: 13px;
}

.loader {
  position: absolute;
  top: 13px;
  left: 17px;
  z-index: 1;
}

.vector {
  position: absolute;
  top: 35px;
  left: 33px;
  transform: rotate(360deg);
}

.vector2 {
  position: absolute;
  top: 14px;
  left: 60px;
}

.c-text {
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  background: var(--3, linear-gradient(144deg, #fc58b3 0%, #feae68 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -44px;
  margin-right: 199px;
}

.status {
  position: relative;
}

.s-title {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  margin-top: -34px;
  margin-left: 147px;
}

.s-num {
  color: #1cd1a1;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  margin-left: 147px;
  margin-top: 14px;
}

.s-graph {
  position: absolute;
  top: 50px;
  left: 211px;
}

.o-wrapper {
  display: flex;
  margin: -35px;
  margin-bottom: 34px;
}

.c-options {
  position: absolute;
  top: -27px;
  left: 285px;
  cursor: pointer;
}
