aside {
  border: 2px solid #f0f0f0;
  background: var(--bgDark);
  width: 300px;
  height: 100%;
  border-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  margin-top: 83px;
  transition: ease-in-out all 0.4s;
  display: inline;
}

.s-overview {
  margin-top: 20px;
}

.s-wrapper {
  display: flex;
  padding: 18px;
  align-items: center;
  padding-left: 55px;
}

.s-eye {
  cursor: pointer;
  margin-right: 25px;
}

.s-text {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.refer {
  border: 0;
  outline: 0;
  display: block;
  padding: 12px;
  background: transparent;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 96px;
  margin-left: 139px;
  cursor: pointer;
}

.logout {
  border: 0;
  outline: 0;
  display: block;
  padding: 12px;
  background: transparent;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 139px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.active {
  background: linear-gradient(185deg, #fd749b 0%, #281ac8 100%);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 250px;
}

.sidebar-active {
  transform: translateX(0px);
  position: absolute;
  display: inline;
}

@media screen and (max-width: 1200px) {
  main{
    margin-left: 0px;
  }
  aside{
    display: none;
    transform: translateX(-300px);
  }
}
