* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1E0338;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 300px;
}

.container {
  padding: 43px 49px;
  width: 100%;
  height: 100vh;
}

:root{
  --bgDark: #1E0338;
  --white: white;
}