.Transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 935px;
  height: 65px;
  border-radius: 100px;
  border: 1px solid #f0f0f0;
  background: #fff;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-right: 20px;
}

.Transaction p {
  color: #858585;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}

.tr-status{
    width: 94px;
    height: 27px;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    background: #5DF888;
    border-radius: 30px;
    text-align: center;
    margin-top: 1px;
    padding-top: 5px;
}

.tr-action{
  cursor: pointer;
}

.trDiv{
  margin-left: 12px;
}

.type-img{
  margin-left: 45px;
}

.name{
  margin-left: 30px;
}

.value{
  margin-left: 20px;
}

.return{
  margin-left: 28px;
  }